/**
 *       ::::::::  :::    :::  :::::::: ::::::::::: ::::::::    :::   ::: 
 *     :+:    :+: :+:    :+: :+:    :+:    :+:    :+:    :+:  :+:+: :+:+: 
 *    +:+        +:+    +:+ +:+           +:+    +:+    +:+ +:+ +:+:+ +:+ 
 *   +#+        +#+    +:+ +#++:++#++    +#+    +#+    +:+ +#+  +:+  +#+  
 *  +#+        +#+    +#+        +#+    +#+    +#+    +#+ +#+       +#+   
 * #+#    #+# #+#    #+# #+#    #+#    #+#    #+#    #+# #+#       #+#    
 * ########   ########   ########     ###     ########  ###       ###     
 *       ::::::::   ::::::::  :::        ::::::::  :::::::::   ::::::::   
 *     :+:    :+: :+:    :+: :+:       :+:    :+: :+:    :+: :+:    :+:   
 *    +:+        +:+    +:+ +:+       +:+    +:+ +:+    +:+ +:+           
 *   +#+        +#+    +:+ +#+       +#+    +:+ +#++:++#:  +#++:++#++     
 *  +#+        +#+    +#+ +#+       +#+    +#+ +#+    +#+        +#+      
 * #+#    #+# #+#    #+# #+#       #+#    #+# #+#    #+# #+#    #+#       
 * ########   ########  ########## ########  ###    ###  ########         
 * 
 */

/* Contains custom colors for checkbox and radio inputs */
/*

red       #e0211b
orange    #ea9722
yellow    #d1d12e
lime      #82de16
green     #17aa22
cyan      #14ebe3
blue      #2177c1
colbat    #3a49ff
purple    #8544ff
magenta   #d62fb0
crimson   #e31a60
brown     #ac7947
grey      #777777
black     #0b0b0b

*/

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #e0211b;
    border-color: #e0211b
}
.radio-red input[type="radio"]+label::after {
    background-color: #e0211b
}
.radio-red input[type="radio"]:checked+label::before {
    border-color: #e0211b
}
.radio-red input[type="radio"]:checked+label::after {
    background-color: #e0211b
}
.radio-red label {
    color: #e0211b
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #ea9722;
    border-color: #ea9722
}
.radio-orange input[type="radio"]+label::after {
    background-color: #ea9722
}
.radio-orange input[type="radio"]:checked+label::before {
    border-color: #ea9722
}
.radio-orange input[type="radio"]:checked+label::after {
    background-color: #ea9722
}
.radio-orange label {
    color: #ea9722
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #d1d12e;
    border-color: #d1d12e
}
.radio-yellow input[type="radio"]+label::after {
    background-color: #d1d12e
}
.radio-yellow input[type="radio"]:checked+label::before {
    border-color: #d1d12e
}
.radio-yellow input[type="radio"]:checked+label::after {
    background-color: #d1d12e
}
.radio-yellow label {
    color: #d1d12e
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #82de16;
    border-color: #82de16
}
.radio-lime input[type="radio"]+label::after {
    background-color: #82de16
}
.radio-lime input[type="radio"]:checked+label::before {
    border-color: #82de16
}
.radio-lime input[type="radio"]:checked+label::after {
    background-color: #82de16
}
.radio-lime label {
    color: #82de16
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #17aa22;
    border-color: #17aa22
}
.radio-green input[type="radio"]+label::after {
    background-color: #17aa22
}
.radio-green input[type="radio"]:checked+label::before {
    border-color: #17aa22
}
.radio-green input[type="radio"]:checked+label::after {
    background-color: #17aa22
}
.radio-green label {
    color: #17aa22
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #14ebe3;
    border-color: #14ebe3
}
.radio-cyan input[type="radio"]+label::after {
    background-color: #14ebe3
}
.radio-cyan input[type="radio"]:checked+label::before {
    border-color: #14ebe3
}
.radio-cyan input[type="radio"]:checked+label::after {
    background-color: #14ebe3
}
.radio-cyan label {
    color: #14ebe3
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #2177c1;
    border-color: #2177c1
}
.radio-blue input[type="radio"]+label::after {
    background-color: #2177c1
}
.radio-blue input[type="radio"]:checked+label::before {
    border-color: #2177c1
}
.radio-blue input[type="radio"]:checked+label::after {
    background-color: #2177c1
}
.radio-blue label {
    color: #2177c1
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #3a49ff;
    border-color: #3a49ff
}
.radio-colbat input[type="radio"]+label::after {
    background-color: #3a49ff
}
.radio-colbat input[type="radio"]:checked+label::before {
    border-color: #3a49ff
}
.radio-colbat input[type="radio"]:checked+label::after {
    background-color: #3a49ff
}
.radio-colbat label {
    color: #3a49ff
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #8544ff;
    border-color: #8544ff
}
.radio-purple input[type="radio"]+label::after {
    background-color: #8544ff
}
.radio-purple input[type="radio"]:checked+label::before {
    border-color: #8544ff
}
.radio-purple input[type="radio"]:checked+label::after {
    background-color: #8544ff
}
.radio-purple label {
    color: #8544ff
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #d62fb0;
    border-color: #d62fb0
}
.radio-magenta input[type="radio"]+label::after {
    background-color: #d62fb0
}
.radio-magenta input[type="radio"]:checked+label::before {
    border-color: #d62fb0
}
.radio-magenta input[type="radio"]:checked+label::after {
    background-color: #d62fb0
}
.radio-magenta label {
    color: #d62fb0
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #e31a60;
    border-color: #e31a60
}
.radio-crimson input[type="radio"]+label::after {
    background-color: #e31a60
}
.radio-crimson input[type="radio"]:checked+label::before {
    border-color: #e31a60
}
.radio-crimson input[type="radio"]:checked+label::after {
    background-color: #e31a60
}
.radio-crimson label {
    color: #e31a60
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #ac7947;
    border-color: #ac7947
}
.radio-brown input[type="radio"]+label::after {
    background-color: #ac7947
}
.radio-brown input[type="radio"]:checked+label::before {
    border-color: #ac7947
}
.radio-brown input[type="radio"]:checked+label::after {
    background-color: #ac7947
}
.radio-brown label {
    color: #ac7947
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #777777;
    border-color: #777777
}
.radio-grey input[type="radio"]+label::after {
    background-color: #777777
}
.radio-grey input[type="radio"]:checked+label::before {
    border-color: #777777
}
.radio-grey input[type="radio"]:checked+label::after {
    background-color: #777777
}
.radio-grey label {
    color: #777777
}

.checkbox-red input[type="checkbox"]:checked+label::before {
    background-color: #0b0b0b;
    border-color: #0b0b0b
}
.radio-black input[type="radio"]+label::after {
    background-color: #0b0b0b
}
.radio-black input[type="radio"]:checked+label::before {
    border-color: #0b0b0b
}
.radio-black input[type="radio"]:checked+label::after {
    background-color: #0b0b0b
}
.radio-black label {
    color: #0b0b0b
}